.NoticeBox {
    width: 75%;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.TopBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.AddBtn {
    float: right;
    right: 20px;
    text-decoration: none;
    color: gray;
}


.Month {
    display: inline;
    font-weight: 550;
    color: black;
    border-bottom: 2px solid black;
}